:root {
    --text-primary: #6b7558 ;
    --light-cream: #fffcf3;
    --bg-color: #ffd6e0;
    --strong-pink: #fb9ab1;
    --yellow: #fbedd3;
    --green: #d7f1d9;
    --font-famil: "Nerko One",serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
        /* Chiều cao full màn hình */
    text-align: center;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gird1 {
    width: 80%;
    height: 80%;
    
}

p {
    font-family: var(--font-famil);
    color: #FF9494;
    font-size: 1.3rem;
}


h2 {
    font-family: var(--font-famil);
    color: #FF9494;
    font-size: 1.44rem;
    padding: 5px 10px;
}


.btn_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.btn {
    font-family: var(--font-famil);
    border-radius: 15px;
    background-color: white;
    color: #FF9494;
    border: 2px solid #FF9494;
    padding: 10px 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 60px;
    width: 140px;
    margin: 5px 0;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    /* Trôi lên */
    100% {
        transform: translateY(0);
    }

    /* Quay lại vị trí ban đầu */
}

.floating-strawberry {
    position: absolute;
    /* Giúp ảnh nằm tự do trên background */
    top: 20%;
    /* Đặt vị trí trên màn hình */
    left: 50%;
    /* Canh giữa */
    transform: translateX(-50%);
    /* Căn giữa theo chiều ngang */
    width: 100px;
    /* Điều chỉnh kích thước quả dâu */
    animation: float 3s ease-in-out infinite;
    /* Hiệu ứng trôi nổi */
}

.floating-strawberry1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100px;
    transform: translateX(-50%);
    width: 80px;
    animation: float 3s ease-in-out infinite;
}

.floating-strawberry2 {
    position:absolute;
    width: 80px;
    transform: translateX(-50%);
    top: 50%;
    left: 70%;
    animation: float 3s ease-in-out infinite;
}

.floating-strawberry3 {
    position: absolute;
    width: 80px;
    transform: translateX(-50%);
    top: 60%;
    left: 25%;
    animation: float 3s ease-in-out infinite;
}

/* -------------- How to play ------------- */

.hidden {
    display: none;
}

#Howtoplay {
    background-color: white;
    padding: 30px 30px;
    border: 2px solid #6b7558;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    width: 100%;
}

.content>div:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content>div:nth-child(2),
.content>div:nth-child(3),
.content>div:nth-child(4) {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}


.example {
    text-align: center;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img_example {
    width: 70%;
    height: 70%;
}




